{% set hostname = env['HOSTNAME'] %}
{% set FIELDS=['process_name', 'numprocs', 'directory', 'umask', 'priority', 'autorestart', 'startsecs', 'startretries', 'exitcodes', 'stopsignal', 'stopwaitwecs', 'stopasgroup', 'killasgroup', 'user', 'redirect_stderr', 'stdout_logfile', 'stdout_logfile_maxbytes', 'stdout_logfile_backups', 'stdout_capture_maxbytes', 'stdout_events_enabled', 'stderr_logfile', 'stderr_logfile_maxbytes', 'stderr_logfile_backups', 'stderr_capture_maxbytes', 'stderr_events_enabled', 'environment', 'serverurl'] %}

{% for each_program in programs %}
[program:{{ each_program.programname }}]
command={{ each_program.command }}
{% for each_field in FIELDS %}
{% if each_program[each_field] is defined %}
{% if each_program[each_field] is equalto true or each_program[each_field] is equalto false %}
{{ each_field }}={{ each_program[each_field]|lower }}
{% elif each_program[each_field] is string or each_program[each_field] is number %}
{{ each_field }}={{ each_program[each_field] }}
{% elif each_program[each_field] is mapping %}
{{ each_field }}={% for key, value in each_program[each_field].iteritems() %}{% if not loop.first %},{% endif %}{{ key ~ "=" ~ '"' ~ value ~ '"' }}{% endfor %}
{% elif each_program[each_field] is sequence %}
{{ each_field }}={{ each_program[each_field]|join(',') }}
{% endif %}
{% endif %}{# defined #}
{% endfor %}{# each_field #}
{% if each_program.schedule is defined %}
autostart=false
{% elif each_program.autostart is defined %}
autostart={{ each_program.autostart }}
{% endif %}

{% endfor %} {# each_program #}

{% for key, each_cron_block in cronblocks.iteritems() %}
[eventlistener:supervisor-cron-{{ hostname }}-{{ loop.index0 }}]
command=supervisor_cron {% for each_program in each_cron_block %}-p "{{ each_program.programname }}:{{ each_program.schedule.crontab }}"{% endfor %}
{% if key[0] is defined %}   
    --email {{ key[0] }} {% if key[1] is defined %} --subject {{ key[1] }} {% endif %}
{% endif %}

events=TICK_60
{% endfor %}
